{% extends 'temp/index.html' %}
{% block base %}
<h1 align="center">LOGIN</h1>
	<form  method="post">
        {% csrf_token %}
		<center>
			<table>
				<tr>
					<td>username</td>
					<td><input type="text" name="name"></td>
				</tr>
				<tr><td><br></td></tr>
				<tr>
					<td>Password</td>
					<td><input type="password" name="Password"></td>
				</tr>
				<tr><td><br></td></tr>
				<tr>
					<td></td>
					<td><input type="Submit" name="Submit"></td>
				</tr>
			</table>
		</center>
	</form>
{% endblock %}